<div *ngIf="!showResult">
<header>
  Products
  <span class="done-button">
  <button (click)="doneClick()">Done</button>
  </span>
</header>
<div class="dropdown-container">
  <div class="dropdown" *ngFor="let dropDownData of productsList; let i = index">
    <div class="dropdown-contents"  id="{{'dropdown'+i}}">
      <div (click)="dropDownClicked(i,'parent',0)">
        {{dropDownData.name}}
        <span *ngIf="getDropDownStatus(dropDownData.name,'parent')" [style.color] = "'green'">
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>
      </div>
      <div class="sub-categories-container" *ngIf="currentClicked === i">
        <div>
          <span class="sub-text">Select SubCategories</span>
          <div class="search-container">
            <div class="search-bar">
              <input type="text" (keyup)="searchData($event,'parent')" [(ngModel)]="searchInput" placeholder="Search" />
            </div>
            <div *ngFor="let subCategoryData of searchResult; let j = index" class="sub-products">
                <div class="products">
                  <div (click)="dropDownClicked(i,'child',j)">
                    {{subCategoryData.name}}
                    <span *ngIf="getDropDownStatus(subCategoryData.name,'child')" [style.color] = "'green'">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div *ngIf="currentChildClicked === j">
                    <div class="sub-products-title">Select SubProducts</div>
                    <div class="sub-products-container">
                      <div class="search-bar-child">
                        <input type="text" (keyup)="searchData($event,'child')" [(ngModel)]="searchInputSubProduct" placeholder="Search" />
                      </div>
                      <div class="sub-products" *ngFor="let subProductsdata of searchResultSubProduct; let k =index">
                        <div (click)="dropDownClicked(i,'childLevel2',j,k)" class="sub-products-child">
                          {{subProductsdata.name}}
                          <span *ngIf="getDropDownStatus(subProductsdata.name,'childLevel2')" [style.color] = "'green'">
                            <i class="fa fa-check" aria-hidden="true"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="results-container" *ngIf="showResult">
  <div class="heading">
    Products
  </div>
  <div class="sub" *ngFor="let data of selectedProducts">
    {{data}}
  </div>
  <div class="heading">
    Sub Categories
  </div>
  <div  class="sub" *ngFor="let data of selectedCategories">
    {{data}}
  </div>
  <div class="heading">
    Sub Products
  </div>
  <div  class="sub" *ngFor="let data of selectedSubProducts">
    {{data}}
  </div>
  <div class="button-container">
    <button>Save</button>
  </div>
</div>
